@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header-area{
    background-color: rgba(255, 144, 14, 0.1);
}
.display{
    display: flex;
}
/* nav area styles */
.nav-area{
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 25px;
}
.nav-links{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 16px;
    font-weight: 500;
}
