@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header-area{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
/* nav area styles */
.nav-area, .banner-area{
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-area h3{
    font-size: 25px;
    background-image: url(images/banner.png);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.nav-item{
    list-style: none;
    margin-right: 25px;
}
.nav-links{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 16px;
    font-weight: 500;
}
.banner-description{
    text-align: center;
    margin-bottom: 60px;    
}
.banner-description h2{
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 30px;
}
/* button style */
.btn-primary{
    padding: 16px 25px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgba(255, 144, 14, 1);
}
.banner-img img{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 576px) {
    .nav-area{
        flex-direction: column;
    }
    .banner-area{
        flex-direction: column;
    }           
}
.display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-section{
    max-width: 1440px;
    margin: 70px auto;
}
.feature-images{
    gap: 15px;
    max-width: 100%;
}
.feature-description{
    padding-left: 78px;
    padding-top: 175px;
    justify-content: center;
    align-items: center;
}
.feature-description h4{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 18px;
}
.text-style{
    color: rgba(114, 114, 114, 1);

}
.text-color{
   color: rgba(255, 144, 14, 1);
}
.feature-description p{
    font-size: 15px;
    color: rgba(114, 114, 114, 1);
}
@media  screen and (max-width: 576px) {
    .feature-section{
        flex-direction: column-reverse;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .feature-description{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 40px;
    }
}

